In [1]:
import pandas as pd

In [13]:
##1) Create a series of three different colors 
color=pd.Series(["yellow","White","Red","Black","Blue","Brown","Pink","purple"])

In [14]:
##2) View the series of different colors 
print(color)

0    yellow
1     White
2       Red
3     Black
4      Blue
5     Brown
6      Pink
7    purple
dtype: object

In [15]:
##3) Create a series of three different car types and view it 
cars=pd.Series(["Ferrari","bugatti","Lamborghini","BMW","THAR","porsche","Ford","Audi"])
print(cars)

0        Ferrari
1        bugatti
2    Lamborghini
3            BMW
4           THAR
5        porsche
6           Ford
7           Audi
dtype: object

In [16]:
##4) Combine the Series of cars and colors into a Data Frame 
new=pd.DataFrame({"Cars":cars,"Color":color})
print(new)

          Cars   Color
0      Ferrari  yellow
1      bugatti   White
2  Lamborghini     Red
3          BMW   Black
4         THAR    Blue
5      porsche   Brown
6         Ford    Pink
7         Audi  purple

In [17]:
##5) Find the different datatypes of the car data Data Frame 
print(new["Cars"].dtype)

object

In [18]:
##6) Describe your current car sales Data Frame using describe () 
print(new.describe())

           Cars   Color
count         8       8
unique        8       8
top     Ferrari  yellow
freq          1       1

In [19]:
##7) Get information about your Data Frame using info () 
print(new.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Cars    8 non-null      object
 1   Color   8 non-null      object
dtypes: object(2)
memory usage: 260.0+ bytes
None

In [21]:
##8) Create a Series of different numbers and find the mean of them
n=pd.Series([24,52,76,39,71,96,92,54,39])
print("Mean :",n.mean())

Mean : 60.333333333333336

In [22]:
##9) Create a Series of different numbers and find the sum of them 
n=pd.Series([23,67,43,26,86,12,78])
print("Sum:",n.sum())

Sum: 335

In [23]:
##10) List out all the column names of the car sales Data Frame 
print(new.columns)

Index(['Cars', 'Color'], dtype='object')

In [24]:
##11) Find the length of the car sales Data Frame 
print(new.shape)

(8, 2)

In [25]:
##12) Show the first 5 rows of the car sales Data Frame 
new.head()

          Cars   Color
0      Ferrari  yellow
1      bugatti   White
2  Lamborghini     Red
3          BMW   Black
4         THAR    Blue

In [26]:
##13) Show the first 7 rows of the car sales Data Frame 
new.head(7)

          Cars   Color
0      Ferrari  yellow
1      bugatti   White
2  Lamborghini     Red
3          BMW   Black
4         THAR    Blue
5      porsche   Brown
6         Ford    Pink

In [27]:
##14) Show the bottom 5 rows of the car sales Data Frame 
new.tail()

      Cars   Color
3      BMW   Black
4     THAR    Blue
5  porsche   Brown
6     Ford    Pink
7     Audi  purple

In [30]:
##15) Use. loc to select the row at index 3 of the car sales Data Frame b
new.loc[0:3,['Cars','Color']]

          Cars   Color
0      Ferrari  yellow
1      bugatti   White
2  Lamborghini     Red
3          BMW   Black

In [31]:
##16) Use. iloc to select the row at position 3 of the car sales Data Frame 
new.iloc[3]

Cars       BMW
Color    Black
Name: 3, dtype: object

In [36]:
##17) Create a crosstab of the Make and Doors columns. 
data = {
    'make': ['Toyota', 'Honda', 'BMW', 'Ford', 'Audi'],
    'doors': [4, 4, 2, 4, 2]
}
df = pd.DataFrame(data)
print(pd.crosstab(df['make'],df['doors']))

doors   2  4
make
Audi    1  0
BMW     1  0
Ford    0  1
Honda   0  1
Toyota  0  1